/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/08/2015, 20/08/2015 12:38:29
    Author     : supervisor
*/
.background {
    -fx-background-image: url("/Figuras/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.fundoLogin {
    /*-fx-background-image: url("/Figuras/Imagens/fundo.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;*/
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
    -fx-background-color:
            rgba(255, 255, 255, 0.08),
            rgba(0, 0, 0, 0.8),
            #090a0c,
            linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
            linear-gradient(#242a2e, #23282e),
            radial-gradient(center 50% 0%, radius 100%, rgba(0,142,148,0.9),
            rgba(255,255,255,0));
}

.acessoImagem {
    -fx-background-image: url("/Figuras/Imagens/acesso.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
