.choice-box {
    -fx-font-size: 11;
    -fx-background-color:
/*
        rgba(255, 255, 255, 0.3),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 50%),
*/
        rgba(0, 0, 0, 0.3),
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8) 50%),
        rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    /*-fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 2 );*/
    -fx-effect: innershadow( gaussian, rgba(255, 255, 255, 0.8), 5, 0, 0, 2 );
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
    -fx-mark-color: green ;
}
.choice-box .label {
    -fx-font-size: 11;
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
}